{% extends 'aplicacion/base.html' %}
{% load static %}


{% block contenido %}

<div class="container-fluid p-4">
    <h2  id="encab" class="text-center"><u>Funkos</u></h2>
</div>
{%for fun in Funko %}

<div class="row justify-content-center ">
    <div class="card papel" style="width: 20vw;">
        <div class="card-body">
            <h5 class="card-title">{{fun.nombre}}</h5>
            <p class="card-text">{{fun.descripcion}}</p>
            <a href="compra.html" class="btn btn-primary">Comprar</a>
        </div>
    </div>
</div>
{%endfor%}
{% comment %}
<div class="container-fluid">
    <div class="row justify-content-center ">
        <div class="card papel" style="width: 20vw;">
            <img src="{% static 'aplicacion/imagenes/funko pop.jpg' %}" class="card-img-top" alt="..." width="30vw" >
            <div class="card-body">
                <h5 class="card-title"> Funko pop Dwight Schrute </h5>
                <p class="card-text"> $15.990.</p>
                <a href="compra.html" class="btn btn-primary">Comprar</a>
            </div>
        </div>
        <div class="card papel" style="width: 20vw;">
            <img src="{% static 'aplicacion/imagenes/funko pop1.jpg' %} " class="card-img-top" alt="..." width="30vw" >
            <div class="card-body">
                <h5 class="card-title"> Funko pop Oscar Ramirez</h5>
                <p class="card-text"> $16.990.</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div>
        <div class="card papel" style="width: 20vw;">
            <img src="{% static 'aplicacion/imagenes/funko pop2.jpg' %} " class="card-img-top" alt="..." width="30vw" >
            <div class="card-body">
                <h5 class="card-title"> Funko pop Florida Stanley</h5>
                <p class="card-text"> 15.990.</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div>
        <div class="card papel" style="width: 20vw;">
            <img src="{% static 'aplicacion/imagenes/funko pop3.jpg' %}" class="card-img-top" alt="..." width="30vw" >
            <div class="card-body">
                <h5 class="card-title">Funko pop Angela Martin</h5>
                <p class="card-text">$15.990.</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div>
        <div class="card papel" style="width: 20vw;">
            <img src=" {% static 'aplicacion/imagenes/112831547_1.jpg' %} " class="card-img-top" alt="..." width="30vw">
            <div class="card-body">
                <h5 class="card-title">Funko Pop Pam</h5>
                <p class="card-text"> the office US
                    $18.000.</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div>
    </div>
</div>
{% endcomment %}
{% endblock contenido %}