{% extends 'aplicacion/base.html' %}
{% load static %}


{% block contenido %}

<h1>Más</h1> {% comment %} Borrar despues {% endcomment %}
{%for m in Mas %}

    <div class="row justify-content-center ">
        <div class="card papel" style="width: 20vw;">
            <div class="card-body">
                <h5 class="card-title">{{pol.nombre}}</h5>
                <p class="card-text">{{pol.descripcion}}</p>
                <a href="compra.html" class="btn btn-primary">Comprar</a>
            </div>
        </div>
    </div>
{%endfor%}
{% endblock contenido %}