{% extends 'aplicacion/base.html' %}
{% load static %}


{% block contenido %}

<h1>Poleras</h1> {% comment %} Borrar despues {% endcomment %}
{%for pol in Poleras %}

    <div class="row justify-content-center ">
        <div class="card papel" style="width: 20vw;">
        <img class="card-img-top" src=" {% static "imagenes/polera.jpg" %}" alt="Prision mike">
            <div class="card-body">
                <h5 class="card-title">{{pol.nombre}}</h5>
                <p class="card-text">{{pol.descripcion}}</p>
                <a href="compra.html" class="btn btn-primary">Comprar</a>
            </div>
        </div>
    </div>
{%endfor%}
{% endblock contenido %}
