{% extends 'aplicacion/base.html' %}
{% load static %}


{% block contenido %}

<h1>Polerones</h1> {% comment %} Borrar despues {% endcomment %}
{%for plr in Polerones %}

<div class="row justify-content-center ">
    <div class="card papel" style="width: 20vw;">
    <img class="card-img-top" src=" {% static "imagenes/poleron1.jpg" %}" alt="lady-gaga">
        <div class="card-body">
            <h5 class="card-title">{{plr.nombre}}</h5>
            <p class="card-text">{{plr.descripcion}}</p>
            <a href="compra.html" class="btn btn-primary">Comprar</a>
        </div>
    </div>
</div>
{%endfor%}
{% endblock contenido %}