{% extends 'aplicacion/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'aplicacion/css/carrito.css' %}">
{% endblock css %}

{% block contenido %}
<div style="background-color: aliceblue;" class="container-fluid">
    <div class="container-fluid p-5">
        <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 60px;"
            class="text-center"><u>CARRITO</u></h2>
    </div>

    <div style="background-color: #bab2b1;" class="container p-2" id="contenedor-general">
        <!-- aqui esta el mensaje que el carrito esta vacio -->
        {% if elemento_carrito == None %}
        <div>
            <p style="font-family:'Courier New', Courier, monospace; font-size: 30px;" class="text-center p-4"><b>Su
                    carrito está vacio</b></p>
        </div>
        {% else %}
        <!-- aqui va el for de los productos -->
        <form action="" method="post">
            {% csrf_token %}
            {% for elemento in elemento_carrito %}
            <div class="carrito-producto" style="margin: 10px;">
                <img src="{{elemento.producto.imagen}}" height="150px">
                <div class="carrito-titulo">
                    <small>Nombre</small>
                    <h2>{{elemento.producto.nombre}}</h2>
                </div>
                <div class="carrito-cantidad">
                    <small>Cantidad</small>
                    <select name="cantidad_{{elemento.producto.id}}" id="">
                        {% for valor in rango_cantidad %}
                        <option value="{{valor}}">{{valor}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="carrito-producto-precio">
                    <small>Precio</small>
                    <p>{{elemento.producto.precio}}</p>
                </div>
                <a class="boton" href="{% url 'eliminar_carrito' elemento.producto.id %}">eliminar</a>
            </div>
            {% endfor %}
            <div class="text-center p-2 0">
                <small>Total:</small>
                <p></p>
            </div>
            <div class="text-center p-4">
                <input class="boton" type="submit" value="Comprar" style="background-color: aqua; color: black;">
            </div>
            <div class="p-3">

            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endblock contenido %}

{% block java %}
<script src="{% static 'aplicacion/js/carrito.js' %}"></script>
{% endblock java %}