{% extends 'aplicacion/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'aplicacion/css/agregar.css'%}">
{% endblock css %}


{% block contenido %}

    <div id="contenido">
        <form action="" method="post">
            {% csrf_token %}
            <section class="cont">
                <h1>formulario de producto</h1>
                <input class="texto" type="text" name="nombre" id="nombre" placeholder="ingrese el nombre del producto">
                <select name="tipo" class="tipo">
                    {% for t in tipo %}
                        <option value="{{t.0}}">{{t.1}}</option>
                    {% endfor %}
                </select>
                <input class="texto" type="number" name="precio" id="precio" placeholder="ingrese el precio">
                <input class="texto" type="text" name="desc" id="desc" placeholder="ingrese la descripcion">
                <input class="texto" type="text" name="color" id="color" placeholder="ingrese el color">
                <input class="texto" type="text" name="img" id="img" placeholder="ingrese el link de su imagen">
                {{msg}}
                <input class="boton" type="submit" value="Guardar">
            </section>
        </form>
    </div>

{% endblock contenido %}