{% extends 'aplicacion/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'aplicacion/css/listar.css'%}">
{% endblock css %}


{% block contenido %}

    <div id="contenido">
        <section class="cont">
            <table>
                <tr>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Tipo</th>   
                    <th>Precio</th>
                    <th>Descripcion</th>
                    <th>Color</th>
                </tr>
                {% for p in producto %}
                    <tr>
                        <td><img src="{{p.imagen}}" alt="{{p.nombre}}"></td>
                        <td>{{p.nombre}}</td>
                        <td>{{p.tipo_producto}}</td>
                        <td>{{p.precio}}</td>
                        <td>{{p.descripcion}}</td>
                        <td>{{p.color}}</td>
                        <td><a class="modificar" href="{% url 'ModificarProducto' p.id %}">MODIFICAR</a> | <a class="eliminar" href="{% url 'EliminarProducto' p.id %}">ELIMINAR</a></td>
                    </tr>
                {% endfor %}
            </table>
                <a href="{% url 'AgregarProducto' %}"><button class="boton" >Nuevo Producto</button></a>
        </section>
    </div>

{% endblock contenido %}